body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    background-image: url(lay.jpg);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(238, 247, 250);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h1{
    text-align: center;
}


.status {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}
.connected {
    background-color: #d4edda;
    color: #155724;
}
.disconnected {
    background-color: #f8d7da;
    color: #721c24;
}
.message-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    background-color: #fff;
}
table.puzzle {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
}
table.puzzle td {
    border: 1px solid #ddd;
    text-align: center;
    height: 50px;
    color: rgb(12, 12, 12); /* Text color for better contrast */
    overflow: hidden;
    word-wrap: break-word;
}
h2 {
    text-align: center;
    
}
.bottom-footer{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    color: #d4edda;
}
.futfut {
    font-size: 20px;
}